* {
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(#ddcead, #daa520);
}

#gameBoard {
  border: 5px solid #daa250;
  border-radius: 10px;
  background: black no-repeat 50% url(./insert2.jpg);
  box-shadow: black 3px 3px 6px;
}
